.main
{
    border:none;
    width: 100%;
    background-color: rgb(0, 0, 0);

}
.headbox
{
    
    width:100%;
    align-items:center;
    text-align:center;
    background-color: rgb(255, 255, 255);

}
.headtext
{
    font-size:30px;
    color:rgb(0, 0, 0);

}

.headbase
{
    width:100%;
    min-height:50px;
    max-height:100px;
    display: flex;

}
.logodiv
{
    
    width:25%;
    border:none;
    min-height:50px;
    max-height:100px;
}
.logo
{
    padding-left: 10px;;
    max-height:50%;
    min-height:90%;
    min-width:25%;
    max-width:50%;
}
.shopname
{

    color:rgb(255, 255, 255);
    width:75%;
    font-size:40px;
    padding-left: 27%;
}

.menu
{
    outline-style:auto;
    outline-color:black;
    margin-top: 20px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    

}
.button
{
    color:white;
    border:none;
    text-decoration:none;
    font-size:30px;
    margin:10px;
    
}
.catbox:hover
{
    background-color: black;

}

/* on mouse button colour change */
.button:hover
{
    background-color:#3f8b49;
    color:black;

}
.catdiv
{
    margin-top: 20px;
    width:100%;
    height:auto;
    align-items: center;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    
}

.catbox
{

    height: 300px;
    width: 350px;
    min-width:350px;
    text-align:center;
    outline-style:auto;
    float:left;/* item one line set*/
    margin:20px;/* item space*/
    background-color: rgb(200, 27, 21);
}

.imgdiv
{
    height: 250px;
    width: 100%;

}

.catimg
{
    height: 250px;
    width: 100%;
}

.catname
{
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-size: 22px;
}
.conandmail
{
    width:100%;
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact
{
    width:50%;
    align-items:center;
    display: flex;
    justify-content: space-around;
    
}
.mail
{
    width:50%;
    align-items:center;
    display: flex;
    justify-content: space-around;
}
.textcontact
{   
    color:white;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.textmail
{
    background-color: transparent;
    color:white;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;

}
.textcontact:hover
{
    background-color:#3f8b49;
    color:black;
}
.textmail:hover
{
    background-color:#3f8b49;
    color:black;
    cursor: pointer;
}
.btn {
    border: none;
}
.cbtn{
    background-color: transparent;
    border: none;
}