.main
{
    border:none;
    width: 100%;
    background-color: rgb(0, 0, 0);

}
.headbox
{
    
    width:100%;
    align-items:center;
    text-align:center;
    background-color: rgb(255, 255, 255);

}
.headtext
{
    font-size:30px;
    color:rgb(0, 0, 0);

}

.headbase
{
    width:100%;
    min-height:50px;
    max-height:100px;
    display: flex;

}
.logodiv
{
    
    width:25%;
    border:none;
    min-height:50px;
    max-height:100px;
}
.logo
{
    padding-left: 10px;;
    max-height:50%;
    min-height:90%;
    min-width:25%;
    max-width:50%;
}
.shopname
{

    color:rgb(255, 255, 255);
    width:75%;
    font-size:40px;
    padding-left: 27%;
}

.menu
{
    outline-style:auto;
    outline-color:black;
    margin-top: 20px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    

}
.button
{
    color:white;
    border:none;
    text-decoration:none;
    font-size:30px;
    margin:10px;
    
}

{
    background-color:#3f8b49;
    color:black;

}
